encryption = "gpg"

[gpg]
recipient = "email@example.com"

[data]
skipssh = true

[data.git]
name = "Some Name"
email = "email@example.com"
signingkey = "AAAAAAAAAAAAAA"
gpgsign = "false"

[data.omz]
theme = "robbyrussell"

[data.tmux]
show_battery = true
catppuccin_window_status_style = "slanted"
