encryption = "gpg"

[gpg]
recipient = "email@example.com"

[data]
name = "Some Name"
email = "email@example.com"
signingkey = "AAAAAAAAAAAAAA"
gpgsign = "false"

omztheme = "robbyrussell"
catppuccin_window_status_style = "slanted"
