[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:aik8/nvim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
