[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://git::@github.com/catppuccin/tmux
[submodule "tmux/.tmux/plugins/tmux-cpu"]
	path = tmux/.tmux/plugins/tmux-cpu
	url = https://git::@github.com/tmux-plugins/tmux-cpu
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:aik8/nvim.git
