{{ $brew := "" }}
{{ if eq .chezmoi.os "darwin" }}
{{   $brew = "/usr/local/bin/brew" }}
{{   if eq .chezmoi.arch "arm64" }}
{{      $brew = "/opt/homebrew/bin/brew" }}
{{    end }}
{{ else if eq .chezmoi.os "linux" }}
{{   $brew = "/home/linuxbrew/.linuxbrew/bin/brew" }}
{{ end }}
{{ if $brew }}
# If homebrew is installed, add it to the env.
if [ -x {{ $brew }} ]; then
	eval "$({{ $brew }} shellenv {{ .shell }})"
fi
{{- end }}
